.port-container {
    width: 95%;
}

.port-label {
    white-space: normal;
}

.rounded {
    border-bottom-width: 1px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#connector {
    flex-shrink: 0;
}